<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>142957717230-0cjl10blhjdut01kd61hd4rin24a4e9t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.142957717230-0cjl10blhjdut01kd61hd4rin24a4e9t</string>
	<key>API_KEY</key>
	<string>AIzaSyB1xaouNPnxjt3EdWNYoDs_ySp6Rsixt6o</string>
	<key>GCM_SENDER_ID</key>
	<string>142957717230</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cheetah.AntPena</string>
	<key>PROJECT_ID</key>
	<string>antpena-56c5b</string>
	<key>STORAGE_BUCKET</key>
	<string>antpena-56c5b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:142957717230:ios:35107bc0006ad3630d35ff</string>
</dict>
</plist>